<?xml version="1.0" encoding="UTF-8"?>
<config>
  <fieldset name="component">
    <field
      name="save_history"
      type="radio"
      class="btn-group btn-group-yesno"
      default="1"
      label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
      description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC"
    >
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>

    <field
      name="history_limit"
      type="text"
      filter="integer"
      label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
      description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
      default="5"
    />
  </fieldset>

  <fieldset name="job_postings">
    <field
      name="job_postings_pagination_limit"
      type="number"
      default="20"
      label="COM_CAJOBBOARD_JOB_POSTINGS_PAGINATION_LIMIT_LABEL"
      description="COM_CAJOBBOARD_JOB_POSTINGS_PAGINATION_LIMIT_DESC"
    />
  </fieldset>

  <fieldset
		name="login"
		label="COM_CAJOBBOARD_LOGIN_LABEL"
		description="COM_CAJOBBOARD_LOGIN_DESC"
	>
    <field
      type="spacer"
      name="email-registration-options"
      class="text"
      label="COM_CAJOBBOARD_REGISTRATION_EMAIL_OPTIONS_LABEL"
    />

    <field
      name="registration_email_placeholder"
      type="email"
      label="COM_CAJOBBOARD_REGISTRATION_MODAL_EMAIL_PLACEHOLDER_LABEL"
      description="COM_CAJOBBOARD_REGISTRATION_MODAL_EMAIL_PLACEHOLDER_DESC"
      required="true"
      size="30"
      class="inputbox"
      validate="email"
      default="yourname@provider.com"
    />

    <field
      name="terms_of_use"
      type="menuitem"
      label="COM_CAJOBBOARD_REGISTRATION_TOS_LABEL"
      description="COM_CAJOBBOARD_REGISTRATION_TOS_DESC"
    />

    <field
      name="privacy_policy"
      type="menuitem"
      label="COM_CAJOBBOARD_REGISTRATION_PRIVACY_POLICY_LABEL"
      description="COM_CAJOBBOARD_REGISTRATION_PRIVACY_POLICY_DESC"
    />

    <field
      type="spacer"
      name="social-login-and-registration-options"
      class="text"
      label="COM_CAJOBBOARD_SOCIAL_LOGIN_AND_REGISTRATION_OPTIONS_LABEL"
    />

    <field
      name="google_login_enabled"
      type="radio"
      class="btn-group btn-group-yesno"
      default="0"
      label="COM_CAJOBBOARD_ENABLE GOOGLE_LOGIN_LABEL"
      description="COM_CAJOBBOARD_ENABLE GOOGLE_LOGIN_DESC"
    >
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>

    <field
      name="facebook_login_enabled"
      type="radio"
      class="btn-group btn-group-yesno"
      default="0"
      label="COM_CAJOBBOARD_ENABLE FACEBOOK_LOGIN_LABEL"
      description="COM_CAJOBBOARD_ENABLE FACEBOOK_LOGIN_DESC"
    >
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>

    <field
      name="linkedin_login_enabled"
      type="radio"
      class="btn-group btn-group-yesno"
      default="0"
      label="COM_CAJOBBOARD_ENABLE LINKEDIN_LOGIN_LABEL"
      description="COM_CAJOBBOARD_ENABLE LINKEDIN_LOGIN_DESC"
    >
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>

    <field
      name="twitter_login_enabled"
      type="radio"
      class="btn-group btn-group-yesno"
      default="0"
      label="COM_CAJOBBOARD_ENABLE TWITTER_LOGIN_LABEL"
      description="COM_CAJOBBOARD_ENABLE TWITTER_LOGIN_DESC"
    >
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>

    <field
      name="instagram_login_enabled"
      type="radio"
      class="btn-group btn-group-yesno"
      default="0"
      label="COM_CAJOBBOARD_ENABLE INSTAGRAM_LOGIN_LABEL"
      description="COM_CAJOBBOARD_ENABLE INSTAGRAM_LOGIN_DESC"
    >
      <option value="0">JNO</option>
      <option value="1">JYES</option>
    </field>

	</fieldset>

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
	>
		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_cajobboard"
			section="component"
    />

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			class="inputbox"
			filter="rules"
			component="com_cajobboard"
			section="items"
    />
	</fieldset>
</config>
