.idea/*

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/release

/*/.DS_Store

/components/com_cajobboard/admin/vendor

/Tests/config.php
node_modules
