.idea/*

/build/bin
/build/buildlang
/build/epub
/build/phingext
/build/tools
/build/override.properties

/release

/*/.DS_Store

/components/com_cajobboard/admin/vendor
/components/com_cajobboard/media/.sass-cache
/components/com_cajobboard/media/css
/scripts/.sass-cache
.gitignore.swp

/Tests/config.php
node_modules
