/*MFI-Brent added to fix blog list page at bottom of first blog, and also bottom bar below each blog */
div#fd.eb .eb-post-side+.eb-post-content .eb-post-foot{
	clear:none;
	margin-left: -15px;
}

/*MFI - Brent change color of #views in bottom bar */
div#fd.eb .eb-post-foot>div+div{
	color: #fff;
}

/*MFI - Brent changed background color for blog on list page */
div#fd.eb .eb-posts .eb-post{
		background: none;
		border: 1px solid #EFEFEF;
		color: #444;
		padding: @theme-spacing;
}

/*MFI - Brent changed background color for blog section heading */
div#fd.eb .eb-header{
		background: none !important;
	    border: 1px solid #EFEFEF;
}		

/*MFI - Brent changed color of list page heading H1 */
div#fd.eb .eb-header h1{
	    color: #0D5079;
}

/*MFI - Brent removes site-level blog description */
div#fd.eb .eb-brand-bio{
	display:none;
}

/*MFI - Brent changed color of blog titles on list page */
div#fd.eb .eb-post-title{
	color: #0D507A;
}

/*MFI - Brent changed color of top links in individual blog header for list page */
div#fd.eb .eb-post-meta a{
	color: #0D507A;
}

/*MFI - Brent moved avatar to right side on listing page */
div#fd.eb .eb-post-side{
    float: right;
	margin-bottom: 10px;
	padding-top: 15px;
	padding-bottom: 7px;
}

/*MFI - Brent removed margin on left side of each post on list page */
div#fd.eb .eb-post-side+.eb-post-content{
    margin: 0 0 0 0px;
}

/*MFI - Brent changed background color on navigation bar */
div#fd.eb .eb-navbar{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#638fbc), color-stop(100%,#134270));
}

/*MFI - Brent changed color of navigation bar for the option that is selected */
div#fd.eb .eb-navbar-nav>li.active>a{
    background: #134270;
}

/*MFI - Brent made it so it wouldn't clear below the left column */
div#fd.eb{
	display:inline-block;
}

/*MFI - Brent changed background color etc for individual blogs */
div#fd.eb .eb-entry{
    background: none;
    border: 1px solid #EFEFEF;
    padding: 15px;
	color: #444;
}

/*MFI - Brent changed color of standard links at the top of each blog */
div#fd.eb .eb-entry a{
	color: #0D507A;
}

/*MFI - Brent changed color of blog title in individual blog view */
div#fd.eb .eb-entry-title{
	color: #0D507A
}
	
/*MFI - Brent float right the blog rating */
div#fd.eb .eb-rating form>div{
	float:right;
}

/*MFI - Brent removed text next to rating */
div#fd.eb .col-cell.eb-rating-text{
	display:none;
}

/*MFI - Brent removed text next to rating */
div#fd.eb .col-cell.eb-rating-text.voted{
	display:none;
}

/*MFI - Brent spaced out share buttons a bit */
div#fd.eb .eb-share-buttons.is-large>div, div#fd.eb .is-large .eb-share-facebook.has-sendbtn{
	margin-right:15px;
}

/*MFI - Brent changed author bio area */
.eb-entry-author{
    background: #f5f5f5;
	padding: 10px;
	margin-top: 20px;
}
	
div#fd.eb .eb-header{
	color: #0D507A;
}

/*MFI - Brent changed color of links within the author area */
div#fd.eb .eb-entry-author-meta>span a{
	color: #0D507A;
}

/*MFI - Brent for category page, change color scheme */
div#fd.eb .eb-category, div#fd.eb .eb-author {
    background: none;
    border: 1px solid #EFEFEF;
    border-radius: 0;
    color: #444;
}

div#fd.eb .eb-category a{
	color: #0D507A;
}

/*MFI - Brent for blogger page, change color of links to blue */
div#fd.eb .eb-stats-posts>div a{
	color: #0D507A;
}

/*MFI - Brent added standard styling for blogs */
div#fd.eb .eb-entry-article, div#fd.eb .eb-post-body {font-size: 14px;font-family: Arial,sans-serif;line-height: 1.6em; color: #1d2129  !important;}/*MFI - Brent BW tightened up top area, also added font size */
div#fd.eb .eb-entry-article p {font-size: 14px !important;font-family: Arial,sans-serif !important;line-height: 1.6em !important; color: #1d2129 !important;}/*MFI - Brent added this line to have a larger font size */
div#fd.eb .eb-entry-article span {font-size: 14px !important;font-family: Arial,sans-serif !important;line-height: 1.6em !important; color: #1d2129 !important;}/*MFI - Brent added this line to have a larger font size */
div#fd.eb .eb-entry-article h2 {font-size: 17px !important;font-family: Arial,sans-serif !important;line-height: 1.8em !important;}/*MFI - Brent added this line to dictate h2 size */
div#fd.eb .eb-entry-article h3 {font-size: 15px !important;font-family: Arial,sans-serif !important;line-height: 1.7em !important;}/*MFI - Brent added this line to dictate h3 size */
div#fd.eb .eb-entry-article li {margin-bottom:10px;font-size: 14px ;font-family: Arial,sans-serif !important;line-height: 1.6em !important; color: #1d2129 !important;}/*MFI - Brent added this line to add bottom margin */


/*MFI - Brent added the following two for icons for subscribing */
div#fd .fa-rss-square:before{
	content: " " url(../images/feed-plus.png) "";
}
div#fd .fa-envelope:before{
	content: " " url(../images/mail-plus.png) "";
}

/*MFI - Brent adding max width for IE */
div.eb#fd .eb-entry-article img, div.eb#fd .eb-post-body .eb-img, div.eb#fd .eb-post-body img{
	max-width:686px !important;
}



/*MFI - Brent changed dashboard toolbar color */
div#fd.eb .eb-toolbar{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#638fbc), color-stop(100%,#134270));
}


/*MFI - Brent the next two are for styling the front page blog list module */
.eb-mod-head.mod-table.align-middle{
    width: 74px !important;
    float: left !important;
}

div#fd.eb .mod-avatar-sm>img{
	width: 64px;
    height: 64px;
}


/*MFI - Brent temporarily removed blocks button because it doesn't close when clicking on the x */
div#fd.eb.eb-composer-frame.is-legacy .eb-composer-add-block-button{
	display:none !important;
}

/*MFI - Brent removed button to add link to past posts */
div#fd.eb .eb-composer-toolbar-item.is-button.col-cell.eb-composer-add-post-button{
	display:none !important;
}

/*MFI - Brent added top margin to composer top buttons */
div#fd.eb .eb-composer-toolbar-group{
	margin-top:10px;
}

/*MFI - Brent added this CSS because when uploading an image, the file path was messed up.  This fixed that for the most part */
div#fd.eb.w480 .col-cell.cell-ellipse {
	display: inherit !important;
    width: 100% !important;
}

/*MFI - Brent increased the size of the user avatar in a team blog */
div#fd.eb .eb-post-author-avatar+.eb-post-author-avatar img{
	width: 50px;
    height: 50px;
}

/*MFI - Brent increased the size of the avatar in the autor bio area */
div#fd.eb .eb-avatar img{
	width: 64px;
    height: 64px;
}