/* From Bootstrap template
  #breadcrumbs {
    background: #f5f5f5;
    padding: 20px 0 20px;
  }

  .breadcrumb {
    border-radius: 0px;
    margin-bottom: 0;
  }

  #breadcrumbs .moduletable {
    margin-bottom: 0;
    padding: 0;
  }
*/

// breadcrumbs
#pathway { /*Brent BW removed width because of IE issues*/
display: block;
}

span.pathway {
  display: block;
  line-height: 220%;
  font-weight: normal;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
  margin-bottom: 15px;
}

span.pathway img {
  float: none;
  vertical-align: top;
  width: 7px;
  height: 22px;
  padding-right: 8px;
  background: url(../images/readon.png) 0 50% no-repeat;
}

span.pathway a {
  float: none;
  padding: 0 10px 0 0;
}

// "breadcrumbs" and "pathway" class were in two different spots in old CSS

.breadcrumbs {
  margin: 0 0 10px 0;
  display: block;
  position:relative;
  overflow: hidden;
  height: 30px;
  color: #fff;
  font-size: 110%;
  font-weight: bold;
}

.breadcrumbs-home {
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-left: 4px;
  margin-top: 4px;
}

.breadcrumbs h3 {
  display: none;
}

div.breadcrumbs img {
  display: none;
}

div.breadcrumbs a,
div.breadcrumbs span {
  padding: 0 20px 0 0px;
  float: left;
  display: block;
  height: 30px;
  line-height: 27px;
}

div.breadcrumbs a:hover {
  text-decoration: none;
}

div.breadcrumbs span.showHere {
  padding-right: 5px;
}
