/*
*  Left Column
*/

/*
*  Inside class="main-content block"
<div id="left-column">
  <div class="padding">
    <div id="leftmodules" class="spacer<?php echo $leftmods_width; ?>">
*/

#left-column {
  float: left;
}

#left-column .padding {
  padding: 0 20px 15px 0;
}

/*
*  Center Column
*/

#center-column .padding {
  padding: 0;
}

/*
*  Right Column
*/

#right-column {
  float: right;
}

#right-column .padding {
  padding: 0 0 15px 20px;
}

#right-column .module_centered div div div {
  text-align:center;
  margin-bottom: 10px;
}

#right-column .module_right div div div {
  text-align:center;
  margin-bottom: 10px;
}

#left-column .module_left div div div {
  text-align:center;
  margin-bottom: 10px;
}