/* Brent BW added these module styles to match the style already within jomsocial groups*/  
/**
 * COMMUNITY : .cModule
 * this class is reusable across the JomSocial application
 */ 
#community-wrap .moduletable_cModule {
  border: 1px solid #ddd;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  margin: 0 0 15px;
  position: relative;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#community-wrap .moduletable_cModule h3 {
  border-bottom: 1px solid #ddd;
  color: #2a447f;
  font-size: 100% !important;
  text-shadow: none;
  padding: 3px 0;
  margin: 0 0 3px;
  font-weight: bold !important;
}

#community-wrap .moduletable_cModule h4 {
  border-bottom: 1px dotted #ccc;
  color: #333;
  font-size: 90%;
  font-weight: 700;
  margin: 0;
  padding: 0 0 5px 0;
}

#community-wrap .module_cModule fieldset {
  background: none;
  border: 0;
  padding: 0;
  margin: 0;
}