/* From Bootstrap template
.calendar {
  margin: 5px 0 0 1px !important;
}

.calendar table {
  border: 0 none !important;
}

.calendar .button {
  border: 0 none !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  display: table-cell !important;
  margin: 0 !important;
  padding: 2px !important;
  text-align: center !important;
}

.calendar thead .hilite {
  padding: 1px !important;
}

table > thead > tr > th, table > tbody > tr > th, table > tfoot > tr > th, table > thead > tr > td, table > tbody > tr > td, table > tfoot > tr > td {
  border-top: 1px solid #ddd;
  line-height: 1.42857;
  padding: 8px;
  vertical-align: top;
}

.calendar,
.calendar table {
  width: 100%;
}
*/

.bc-blue .date-block {
  border-bottom: 1px solid #1478B7;
}

.bc-blue span.date-number {
  background: #1478B7;
  color: #fff;
}

.date-block {
  color: #fff;
  font-size: 140%;
  height: 90px;
  position: relative;
}

.date-line {
  float: right;
  margin-right: 115px;
  margin-top: 35px;
}

span.date-number {
  font-weight: bold;
  padding: 4px 5px;
}

.clock {
  width: 85px;
  height: 85px;
  position: absolute;
  right: 10px;
  top: 2px;
}