/* From Bootstrap template
    #editor-xtd-buttons .btn,
    .toggle-editor .btn {
      background-color: #ffffff;
      border-color: #cccccc;
      text-shadow: 0 1px 0 #fff;
      margin: 5px;
    }
*/

/* Editing */
.edit #editor-xtd-buttons a:link,
.edit #editor-xtd-buttons a:visited,
.edit #editor-xtd-buttons a:hover {
  color: #323232;
}

.edit .inputbox, .edit textarea {
  border: 1px solid #ddd;
}

.edit legend {
  font-size: 150%;
}

.edit form#adminForm fieldset {
  padding: 20px 15px;
  margin: 10px 0 15px 0;
}

.formelm {
  margin: 5px 0;
}

.formelm label {
  width: 9em;
  display: inline-block;
}

form#adminForm .formelm-area {
  padding: 5px 0;
}

form#adminForm .formelm-area label {
  vertical-align: top;
  display: inline-block;
  width: 7em
}

.formelm-buttons {
  text-align: right;
  margin-bottom: 10px
}

.button2-left {
  float: left;
  margin-right: 5px;
  margin-top: 10px;
}

.button2-left a {
  background: #eee;
  padding: 4px;margin: 0;
  line-height: 1.2em;
  border: solid 1px #ddd;
  font-weight: bold;
  text-decoration: none;
}

.edit-article fieldset legend {
  font-size: 230%;
}

.edit-article fieldset div {
  overflow: visible;
  margin-bottom: 8px;
}

.edit-article fieldset #editor-xtd-buttons div {
  clear: none;
}

#system-message dd.notice {
  border: 0;
  background: none;
}

.save .readon {
  margin-left: 10px;
}

div.calendar {
  z-index: 9999;
}

.tip-wrap {
  z-index: 100;
  background: #333;
  padding: 5px;
  color: #fff;
}

.edit .formelm {
  margin-bottom: 10px;
}

.edit .calendar {
  margin-left: 5px;
  vertical-align: bottom;
}

.profile-edit .readon {
  vertical-align: middle;
}

.list-title a {
  float: left;
}

/* Editor */
#editor-xtd-buttons {
  padding: 5px 0;
}

.button2-left {
  margin-top: 5px;
  margin-right: 5px;
}

.button2-left,
.button2-right,
.button2-left div, 
.button2-right div {
  float: left;
}

 .button2-left .linkmacro, 
 .button2-left .image {
  background: none;
 }

.toggle-editor .button2-left {
  margin-top: 0px;
}

.button2-left a {
  line-height: 2.0em;
}

.button2-left a, 
.button2-right a, 
.button2-left span, 
.button2-right span {
  display: block;
  height: 22px;
  float: left;
  line-height: 22px;
  font-size: 11px;
  cursor: pointer;
  margin-bottom: 5px;
}

.button2-left span,
.button2-right span {
  cursor: default;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span {
  padding: 0 6px;
}

.button2-left a:hover,
.button2-right a:hover {
  text-decoration: none;
}

.button2-left a,
.button2-left span {
  padding: 0 6px !important;
}

.button2-right a,
.button2-right span {
  padding: 0 6px !important;
}

.button2-left .blank a {
  padding-right: 6px;
}

.img_caption.left {
  float: left;
  margin-right: 1em;
}

.img_caption.right {
  float: right;
  margin-left: 1em;
}

.img_caption.left p {
  clear: left;
  text-align: center;
}

.img_caption.right p {
  clear: right;
  text-align: center;
}

.img_caption {
  text-align: center !important;
}

.edit-article fieldset div input, 
.edit-article fieldset textarea {
  padding: 4px;
}

.edit-article fieldset div .label-left {
  padding: 0;
}

.edit-article fieldset div img.calendar {
  vertical-align: middle;
  margin-left: 5px;
}