/* Font family information */
body#ff-default,
body#ff-default td {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
}

body#ff-default #showcase h1 {
  font-family: Georgia, sans-serif;font-size: 220%;letter-spacing: -1px;
}

body#ff-default .mininews .lead-articles h4,
body#ff-default table.blog td.contentheading {
  font-family: Georgia, sans-serif;
}

body#ff-optima,
#ff-optima td {
  font-family: Optima, Lucida, 'MgOpen Cosmetica', 'Lucida Sans Unicode', sans-serif;
}

body#ff-geneva,
#ff-geneva td {
  font-family:  Geneva, Tahoma, "Nimbus Sans L", sans-serif;
}

body#ff-helvetica,
#ff-helvetica td {
  font-family: Helvetica, Arial, FreeSans, sans-serif;
}

body#ff-lucida,
#ff-lucida td {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Lucida, sans-serif;
}

body#ff-georgia,
#ff-georgia td {
  font-family: Georgia, sans-serif;
}

body#ff-trebuchet,
#ff-trebuchet td {
  font-family: "Trebuchet MS", sans-serif;
}

body#ff-palatino,
#ff-palatino td {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, "Times New Roman", Times, serif;
}

body.f-small, body#ff-optima.f-small, body#ff-georgia.f-small {
  font-size: 11px;
}

body, body.f-default {
  font-size: 12px;
}

body#ff-optima, body#ff-optima.f-default {
  font-size: 13px;
}

body#ff-georgia, body#ff-georgia.f-default {
  font-size: 13px;
}

body.f-large, body#ff-optima.f-large, body#ff-georgia.f-large {
  font-size: 14px;
}

p {
  margin-top: 10px;margin-bottom: 15px;
}

h1, h2, h3, h4, h5 {
  padding-bottom: 5px;
  margin: 25px 0 10px 0;
  font-weight: normal;
  line-height: 120%;
}

h1 {
  font-size: 200%;line-height: 100%;
}

h2 {
  font-size: 175%;line-height: 100%;
}


h3 {
  font-size: 150%;
}

h4 {
  font-size: 120%;
}

h5 {
  font-size: 120%;text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}