html {
  height: 100%;margin-bottom: 1px;
}

/* from Boostrap template
    body {
      // TODO: Update vendor-prefixed properties if CSS font-smooth is standardized
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
    }

    html {
      overflow-y: scroll
    }

    body {
      background-color: #FFFFFF;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    html,
    body {
      height: 100%;
    }

    img {
      max-width: 100%
    }
*/

body {
  margin: 0;
  font-family: Arial;
  font-size: 80%;
  line-height: 135%;
  color: #333;
  background: #B6B6B6;
}

body {
  margin:0;
  padding:0;
  text-align: left;
  background: white;
  background-image: none;
}

body {
  border-top: 4px solid #0D5079;
}

pre {
  padding: 10px;
  background: #f6f6f6;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

blockquote {
  display: block;
  font-style: italic;
  font-size: 120%;
  line-height: 150%;
  width: auto;
  padding: 10px 20px 10px 20px;
  margin: 15px 0;
  background: #f6f6f6;
  border-top: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
