/* From Bootstrap template
    .form-horizontal .control-label {
      text-align: inherit!important;
    }

    i.icon-calendar:before {
      content: "\1f4c5";
      display: inline-block;
      font-family: 'Glyphicons Halflings';
      font-style: normal;
      font-weight: normal;
      line-height: 1;
      position: relative;
      top: 1px;
    }

    div.contact-form-field label,
    div.message-label label {
      display: inline !important;
    }

    div#jform_tags_chzn.chzn-container ul.chzn-choices li.search-field input.default {
      padding: 0;
    }

    .btn-toolbar {
      margin-bottom: 20px;
    }

    .nav.nav-tabs {
      margin-bottom: 20px;
    }
*/

div.mosimage_caption {
  font-size: 95%;
}

.componentheading {color:#333;
  font-size: 250%;
  line-height: 120%;
  font-weight: bold;
  padding: 0 0 0 5px;
  margin: 0 0 20px 0;
  border-bottom: 5px solid #f7f7f7;
}

.contentheading {
  font-size: 160%;
  font-weight: bold;
  line-height: 120%;
  padding: 0 0 15px 0;border: 0;
}

/* Brent BW removed uppercase text-transform and increased font size to 100% */
span.small, td.createdate, td.modifydate {
  color: #666;
  font-size: 100%;
}

table.blog td.createdate {
  padding-bottom: 5px;
}

table.blog td.modifydate {
  padding-top: 10px;
}

td.buttonheading, .contentpaneopen td.buttonheading {
  padding: 0 1px;border: 0;
}

.contentpane {
  padding: 20px;
  background: #fff;
  color: #000;
}

.contentpane a {
  color: #333;
}

td.column_separator {
  padding-left: 15px;
}

td.componentheading {
  padding-bottom: 15px;
}

.sectiontableheader {
  font-weight: bold;
  padding: 4px;
  line-height: 20px;
}

tr.sectiontableentry1 td,
tr.sectiontableentry2 td,
td.sectiontableentry1,
td.sectiontableentry2 {
  text-align: left;
  padding: 2px 0 0px 5px;
  border-bottom: 1px solid #f1f1f1;
}

tr.sectiontableentry2 td,
td.sectiontableentry2 {
  height: 27px;
}

tr.sectiontableentry1 td,
td.sectiontableentry1 {
  height: 27px;background: #f7f7f7;
}

.contentpane, .contentpaneopen {
  width: 100%;
}

.main-page ul.actions{
  margin:0;
  list-style:none;
} 

.main-page ul.actions li{
  list-style: none;
  display:inline;
  float:right;
  background: none;
  padding: 0 3px;
} 

.profile dt {
  margin-top: 10px;
  font-weight: bold;
}

.profile dt, .profile dd {
  display: block;
}

.main-page p.readmore {
  display: block;
  margin-top: 15px;
}

.main-page .article-info-term {
  font-weight: bold;
}

.main-page .article-info dt,
.main-page .article-info dd {
  display: block;
}

.main-page ul#archive-items,
.main-page ul#archive-items li.row0,
.main-page ul#archive-items li.row1 {
  background: none;
  list-style:none;
}

.main-page ul#archive-items {
  margin: 0;
  padding:0;
}