/* From Bootstrap template
    .navbar-default .nav-header {
      padding: 5px 20px;
      display: block;
      font-weight: bold;
      line-height: 20px;
    }

    #navigation {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    }

    .navbar {border-radius: 0!important; margin-bottom: 0!important }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
      outline: medium none
    }

    .navbar-default .navbar-nav > li > a:hover,
    .navbar-default .navbar-nav > li > a:focus {
      outline: medium none
    }

    .navbar-nav > li > a {
      line-height: inherit !important;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:focus,
    .navbar-default .navbar-nav > .active > a:hover {
      background-color: transparent!important;
    }

    .dropdown-menu {
      padding: 0px!important;
      border-radius: 0!important;
    }

    .dropdown .dropdown-menu {
      display: block;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.3s ease 0s;
    }

    .dropdown.open .dropdown-menu {
      max-height: 200px;
      opacity: 1;
    }

    .navbar-right .dropdown-menu {
      left: 0 !important;
      right: auto !important;
    }

    .navbar-toggle {
      margin-top: 15px!important;
      padding: 15px!important;
      border: medium none!important;
      border-radius:0important;
    }
*/

// General for both top and bottom menus?

a.mainlevel:hover,
a.sublevel:hover {
  text-decoration: none;
}

ul.menu {
  margin: 0 0 15px 0;padding: 0;
}

ul.menu li {
  list-style: none;margin: 0;padding: 0;float: none;
}

ul.menu span {
  display: block;height: 24px;
}

ul.menu a,
ul.menu li.active a,
a.mainlevel {
  display: block;line-height: 24px;text-indent: 10px;
  height: 24px;overflow: hidden;font-size: 110%;float: none;
  background: url(../images/readon.png) 0 8px no-repeat;
}

a.sublevel {
  background: url(../images/readon.png) 0 4px no-repeat;
  padding-left: 10px;margin-left: 0;
}

ul.menu li.active a,
ul.menu li.active li.active a,
a#active_menu.mainlevel,
a#active_menu.sublevel {
  font-weight: bold;
}

ul.menu li.active li a {
  font-weight: normal;
}

ul.menu a:hover,
a.mainlevel:hover,
a.sublevel:hover {
  color: #333 !important;
}

ul.menu ul {
  margin: 4px 0;
}

ul.menu ul li a {
  text-indent: 10px;
}

ul.menu ul a {
  background: none;
  text-indent: 0;
}

ul.menu ul {
  margin: 5px -15px;
  padding: 10px 0 10px 30px;
}

ul.menu ul ul {
  padding: 0;
  margin-left: 20px;
  background: none;
}

ul.menu li li {
  padding: 0;
  margin: 0;
}

ul.menu ul a {
  text-indent: 0;
}

ul.menu li.active a,
ul.menu li.active a:hover {
  text-decoration: none;
  line-height: 24px;
}

ul.menu li a:hover {
  text-decoration: none;
}

ul.menu li.active ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}