#bottom-menu {
  height: 44px;
  background: url(../images/bottom-menu-bg.png) 0 0 repeat-x;
  border: 1px solid #ccc;
}

#bottom-menu ul#mainlevel-bottom {
  padding: 0;
  margin: 0;
}

#bottom-menu #mainlevel-bottom ul {
  list-style: none;
}

#bottom-menu #mainlevel-bottom li {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}

#bottom-menu #mainlevel-bottom a,
#bottom-menu #mainlevel-bottom a#active_menu.mainlevel {
  white-space: nowrap;
  display: block;
  float: left;
  height: 44px;
  line-height: 44px;
  padding: 0 15px 0 15px;
  font-weight: normal;
  font-size: 100%;
  font-weight: bold;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
}

#bottom-menu ul#mainlevel-bottom a#active_menu.mainlevel-bottom,
#bottom-menu ul#mainlevel-bottom a.mainlevel-bottom:hover {
  height: 34px;
  line-height: 34px;
}
