table.mainbody, 
table.blog {
  width: 100%;
}

table.blog td td {
  padding-right: 12px;
}

fieldset {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ddd;
}

fieldset {
  border: 0;
}

fieldset.input,
a img,
body .pollstableborder {
  border: 0;
}

dl {
  display: block;
  margin: 5px 0 10px 0;
}

dt,
dd {
  display: inline;
  margin: 2px;
}

form fieldset dt {
  clear: left;
  float: left;padding: 3px 0;
  width: 12em;
}

form fieldset dd {
  float: left;
  padding: 3px 0;
}

button {margin: 10px 0;}

.sectiontableheader {
  font-weight: bold;
  padding: 3px;
  line-height: 25px;
  text-align: left;
}

.sectiontablefooter {
  padding-bottom: 8px;
}

tr.sectiontableentry0 td,
tr.sectiontableentry1 td,
tr.sectiontableentry2 td,
td.sectiontableentry0,
td.sectiontableentry1,
td.sectiontableentry2 {
  text-align: left;
  padding: 6px 5px;
  vertical-align: middle;
}

tr.sectiontableentry0 td,
td.sectiontableentry0,
tr.sectiontableentry1 td,
td.sectiontableentry1,
tr.sectiontableentry2 td,
td.sectiontableentry2 {
  height: 30px;
}

.contentpane,
.contentpaneopen {
  width: 100%;}

.main-page table {
  border-collapse: collapse;}

.main-page table.weblinks,
.main-page table.category {
  font-size: 1em;
  margin: 10px 10px 20px 0px;
  width: 99%;
}
.main-page table.weblinks td {
  border-collapse: collapse;}

.main-page table.weblinks td,
.main-page table.category td {
  padding: 7px;
  vertical-align: top;}

.main-page table.weblinks th,
.main-page table.category th {
  padding: 7px;
  text-align: left;
}

.main-page td.num {
  vertical-align: top;
  text-align: left;
}

.main-page td.hits {
  vertical-align: top;
  text-align: center;
}

.main-page td p {
  margin: 0;
  line-height: 1.3em;
}

.main-page .filter {
  margin: 10px 0;
}

.main-page .display-limit,
.main-page .filter {
  text-align: right;
  margin-right: 7px;
}

.main-page table.category th a img {
  padding: 2px 10px;
}

.main-page .filter-search {
  float: left;
}

.main-page .filter-search .inputbox {
  width: 6em;
}

.main-page legend.element-invisible {
  position: absolute;
  margin-left: -3000px;
  margin-top: -3000px;
  height: 0;
}

.main-page .cat-items {
  margin-top: 20px;
}
