/* From Bootstrap template
    .thumbnail {
      margin-bottom: 9px;
    }

    .thumbnails > li {
      float: left;
      margin-bottom: 18px;
      margin-left: 20px;
    }

    .height-80 {
      height: 80px;
    }

    .width-80 {
      width: 80px;
    }

    .thumbnails::before,
    .thumbnails::after {
      content: "";
      display: table;
      line-height: 0;
    }

    .thumbnails::after {
      clear: both;
    }

    .manager.thumbnails {
      list-style: outside none none;
      margin: 0 0 0 -20px;
      padding: 0;
    }

    .manager.thumbnails li {
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
      display: block;
      float: left;
      height: 80px;
      line-height: 18px;
      position: relative;
      text-align: center;
      width: 80px;
      padding: 4px;
    }

    .manager.thumbnails li .height-50 {
      height: 50px;
      margin-bottom: 4px;
      margin-top: 4px;
    }
*/