.padding {
  padding: 5px;
}

.debug {
  margin-top: 20px;
}

.clr {
  clear: both;
}

// Not used in main old template
#referencewidth {
  width: 100%;
  overflow:hidden;
}

/* From Bootstrap template
    .center, .table td.center,
    .table th.center {
      text-align: center;
    }

    .clearfix::after {
      clear: both;
      content: " ";
      display: block;
      font-size: 0;
      height: 0;
      visibility: hidden;
    }

    .clearfix {
      display: block;
    }

    #wrap .element-invisible {
      display: none;
    }

    #print {
      height: auto;
      overflow: hidden;
    }

    .muted {
      color: #999;
    }

    .hasTooltip {
      display: inline !important;
    }

    .noMainbody {
      display: none !important;
    }

    .float-left {
      float: left
    }

    .float-right {
      float: right
    }

    .group:before,
    .group:after {
      content: "";
      display: table;
    }

    .group:after {
      clear: both
    }

    .ie7 .group {
      zoom: 1
    }

  .email-copy-input {
    float: left
  }

  #pop-print {
    float: right;
    margin: 10px;
  }
*/