/* Bootstrap template had the following transitions:
    a {
      text-decoration: none;
      transition: all 0.3s ease 0s;
    }

    a:focus, a:hover {
      text-decoration: none;
    }
*/

.hidelabeltxt {
  display: none;
}

.display-limit {
  text-align: right;
}

.category .title {
  text-align: left;
}

.category p {
  margin: 3px 0;
}

.weblink-category table.category {
  border: 0; width: 100%;
}

.weblink-category table.category thead {
  background: none;
}

.weblink-category .cat-list-row0 td,
.weblink-category .cat-list-row1 td {
  border-bottom: 1px solid #e7e7e7;
}

.weblink-count {
  margin: 10px 0;
}

.weblink-count dt,
.weblink-count dd {
  display: inline;
  margin: 2px;
}

.main-page .weblinks fieldset div {
  overflow: hidden;
}

.main-page .weblinks label.label-left {
  display: block;
  width: 150px;
  float: left;
}
